.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  background-color: #121212;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100vw;
  height: 70%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 100%;
  max-width: 450px;
  width: 100vw;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #528d4e;
}
.btn-secondary{
  background-color: #b49f39;
}
.btn-danger{
  color: lightgray;
  background-color: #3a393c;
}

.controls {
  padding-bottom: 10px;
  padding-top: 10px;
}

.options {
  height: 550px;
  max-width: 250px;
  min-width: 160px;
  width: 10%;
  overflow-y:auto;
  overflow-x:hidden;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px;
}

.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-track {
  background: #121212;
}

.options::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#528d4e, #b49f39);
}

.options::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#72ad6e, #d4bf59);
}

.nav-link {
  color: #d4bf59;
  background-color: #121212;
}

.nav-link.active {
  color: lightgray !important;
  background-color: #3a393c !important;
}


.optionItem {
  cursor: pointer;
}

.solvle-row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
  border-top: 2px solid #121212;
}

#highlight {
  border-top: 2px solid #b49f39;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  cursor: pointer;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

#huh {
  background-color: orange;
}

.keyboard {
  width: 100%;
  height: 30%;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 7vw;
  max-width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
}

.letterAmt {
  position: relative;
  top: -25px;
  height: 0px;
  user-select: none;
  font-size: 12px;
}

.big {
  max-width: 100px;
  width: 15vw;
}
.disabled {
  background-color: #3a393c;
}

.header {
  display: flex;
}
.helpIcon {
  position: absolute;
  right: 10px;
}

.instructions {
  max-width: 450px;
  white-space: pre-line;
  text-align:left;
}

.header .alertButton {
  height: 90%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #3a393c;
}

.header .alertDialog {
  position: absolute;
  max-width: 450px;
  width: 100%;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
}